<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>recommended system</title>

</head>

<body>

    <nav class="navbar navbar-light bg-light">

        <h3><a style="color:rgb(0, 102, 255)" class="nav-link" href="{{url_for('home')}}">Home</a></h3>

    </nav>
    <div class="shadow p-3 mb-5 bg-white rounded">

        <h1 style="color:rgb(0, 102, 255)">Welcome to the Movie recommender</h1>

        <h3 style="color:rgb(0, 102, 255)">Enter the Hollywood movie you like to get recommendations.</h3>

    </div>



    <form action="{{url_for('recommend')}}">

        <input type="text" name="movie" class="form-control" placeholder="Movie name here">

        <br>
        <br>

        <input type="submit" class="btn btn-info" value="Enter">

    </form>

</body>

</html>